openapi: 3.1.0
info:
  title: QTSurfer API
  summary: QTSurfer backend services API
  version: 0.111.1
  contact:
    name: QTSurfer Support
    email: support@qtsurfer.com
    url: 'https://qtsurfer.com/support'
  termsOfService: 'https://qtsurfer.com/terms'
  license:
    name: Apache-2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://api.qtsurfer.net/v1'
    description: >-
      Staging — the API this specification describes, and the one to develop against today.
      Generated clients take their default base URL from here.
  - url: 'https://api.qtsurfer.com/v1'
    description: >-
      Production — reserved, not yet serving. It is listed so the eventual address is known in
      advance; pointing a client at it today will not reach the API. Stay on staging until this
      one is announced.
paths:
  '/auth/token':
    post:
      operationId: authenticate
      summary: Exchange API key for a short-lived JWT
      description: |
        Exchanges a long-lived API key for a short-lived JWT used by every other
        endpoint. This is the only endpoint that accepts an API key directly —
        callers should obtain a JWT here, then send it as `Authorization: Bearer
        <token>` to all other operations.

        The returned JWT carries the caller's subscription `tier` as a claim and
        expires after `expires_in` seconds. Callers should refresh the token
        before expiry (or on a `401` response) by calling this endpoint again.
      responses:
        '200':
          description: API key accepted; JWT returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
              example:
                access_token: eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI3NmI5MDIwMy0wM2MyLTQ2ZjYtYjM2Ni05OTQ0ZjE2N2U4MTgiLCJzY29wZXMiOltdLCJ0aWVyIjoiZnJlZSIsImlhdCI6MTc3OTczNTQ2MiwiZXhwIjoxNzc5NzM5MDYyfQ.signature
                token_type: Bearer
                expires_in: 3600
                scopes: []
                tier: free
        '401':
          description: API key is invalid, revoked, or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenError'
              example:
                code: invalid_apikey
                message: API key not recognized
        '429':
          description: Rate limit exceeded for this API key.
      security:
        - apiKeyAuth: []
      tags:
        - Auth
  '/exchanges':
    get:
      operationId: listExchanges
      summary: List the available exchanges
      responses:
        '200':
          description: A JSON array of Exchanges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exchange'
              example:
                - id: binance
                  name: Binance
                  description: Binance cryptocurrency exchange
      tags:
        - Exchange
  '/exchange/{exchangeId}/instruments':
    get:
      operationId: listInstruments
      summary: List an exchange's instruments (default spot segment)
      description: |
        "Give me binance instruments" — returns the exchange's DEFAULT segment (`spot`)
        in `data`, each instrument with per-data-type coverage and market info. `meta`
        confirms the served `segment` (`spot`); HAL `_links` carry `self` plus the
        `spot` / `futures` segment-discovery links.
      parameters:
        - name: exchangeId
          in: path
          description: ID of the exchange to retrieve instruments for
          required: true
          schema:
            type: string
            example: binance
      responses:
        '200':
          description: The default (spot) segment's instruments in `data`, `meta`, and HAL `_links` (self + spot/futures segment discovery)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentListResponse'
              example:
                data:
                  - id: BTC/USDT
                    base: BTC
                    quote: USDT
                    coverage:
                      tickers:
                        from: "2026-04-10T21:00:00Z"
                        to: "2026-07-09T20:29:05Z"
                      klines:
                        from: "2026-04-22T17:00:00Z"
                        to: "2026-07-09T20:31:08Z"
                    lastPrice: 84250.50
                    volume24h: 1234567.89
                meta:
                  updatedAt: "2026-07-09T19:09:07Z"
                  exchange: binance
                  segment: spot
                _links:
                  self:
                    href: /v1/exchange/binance/instruments
                  spot:
                    href: /v1/exchange/binance/spot/instruments
                  futures:
                    href: /v1/exchange/binance/futures/instruments
        '404':
          description: Exchange not found or instrument catalog not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      tags:
        - Exchange
  '/exchange/{exchangeId}/{segment}/instruments':
    get:
      operationId: listSegmentInstruments
      summary: List an exchange segment's instruments
      description: |
        Returns the instruments for one market segment of the exchange, each with
        per-data-type coverage and market info. HAL `_links` carry `self` plus the
        `spot` / `futures` segment-discovery links; the default-segment shortcut is
        `GET /exchange/{exchangeId}/instruments` (spot).
      parameters:
        - name: exchangeId
          in: path
          description: ID of the exchange to retrieve instruments for
          required: true
          schema:
            type: string
            example: binance
        - name: segment
          in: path
          description: Market segment to list instruments for
          required: true
          schema:
            type: string
            enum: [spot, futures]
            example: spot
      responses:
        '200':
          description: An object with a `data` array of instrument details (each with per-data-type coverage) and a `meta` block
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentListResponse'
              example:
                data:
                  - id: BTC/USDT
                    base: BTC
                    quote: USDT
                    coverage:
                      tickers:
                        from: "2026-04-10T21:00:00Z"
                        to: "2026-07-09T20:29:05Z"
                      klines:
                        from: "2026-04-22T17:00:00Z"
                        to: "2026-07-09T20:31:08Z"
                    lastPrice: 84250.50
                    volume24h: 1234567.89
                  - id: ETH/USDT
                    base: ETH
                    quote: USDT
                    coverage:
                      tickers:
                        from: "2026-04-10T21:00:00Z"
                        to: "2026-07-09T20:28:22Z"
                        inactiveSince: "2026-07-09T20:28:22Z"
                      klines:
                        from: "2026-04-22T17:00:00Z"
                        to: "2026-07-09T20:31:09Z"
                        inactiveSince: "2026-07-09T20:31:09Z"
                    lastPrice: 3120.75
                    volume24h: 456789.12
                meta:
                  updatedAt: "2026-07-09T19:09:07Z"
                  exchange: binance
                  segment: spot
                _links:
                  self:
                    href: /v1/exchange/binance/spot/instruments
                  spot:
                    href: /v1/exchange/binance/spot/instruments
                  futures:
                    href: /v1/exchange/binance/futures/instruments
        '404':
          description: Exchange, segment, or instrument catalog not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      tags:
        - Exchange
  '/exchange/{exchangeId}/tickers/{base}/{quote}':
    get:
      operationId: downloadTickers
      summary: Download one hour of tickers for an instrument as a Lastra segment
      description: |
        Serves exactly one hour of raw ticker data for the given instrument on the
        requested exchange. The payload is a native [Lastra](https://github.com/QTSurfer/lastra-java)
        file — QTSurfer's columnar format for tick-precision timeseries — with
        no JSON envelope.

        One segment = one hour, aligned to UTC. The `hour` query parameter selects
        the segment and must match `YYYY-MM-DDTHH` (no minutes/seconds, no timezone
        suffix). Example: `hour=2026-01-15T10` returns `h10.lastra` for
        2026-01-15, covering `[10:00:00Z, 11:00:00Z)`. Hours not yet available
        return `404`.

        A `format=parquet` query parameter switches the response to on-the-fly
        Parquet conversion via [lastra-convert](https://github.com/QTSurfer/lastra-convert)
        for clients that don't yet read Lastra. Lastra is the primary format
        and cheaper when the client can consume it.

        Clients:
        - [lastra-java](https://github.com/QTSurfer/lastra-java) — reference
          Java reader/writer with per-column codecs (ALP, Gorilla, delta-varint,
          ZSTD) and CRC32 integrity.
        - [lastra-ts](https://github.com/QTSurfer/lastra-ts) — TypeScript reader
          (~4 kB bundle, browser + Node.js).
        - [duckdb-lastra](https://github.com/QTSurfer/duckdb-lastra) — DuckDB
          extension for ad-hoc SQL over Lastra files.
        - [lastra-convert](https://github.com/QTSurfer/lastra-convert) — CLI + Java
          API for converting to/from Parquet, Reef, and CSV.
        - `curl -OJ` for offline dumps (the `Content-Disposition` header sets a
          descriptive filename).
      parameters:
        - name: exchangeId
          in: path
          required: true
          description: ID of the exchange (e.g. `binance`).
          schema:
            type: string
            example: binance
        - name: base
          in: path
          required: true
          description: Base asset symbol (first leg of the pair).
          schema:
            type: string
            example: BTC
        - name: quote
          in: path
          required: true
          description: Quote asset symbol (second leg of the pair).
          schema:
            type: string
            example: USDT
        - name: hour
          in: query
          required: true
          description: |
            Hour selector in `YYYY-MM-DDTHH` (UTC). The returned segment covers
            `[HH:00:00Z, HH+1:00:00Z)`.
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}$'
            example: '2026-01-15T10'
        - name: format
          in: query
          required: false
          description: |
            Response wire format. `lastra` (default) returns raw Lastra bytes.
            `parquet` returns Parquet via on-the-fly conversion using
            [lastra-convert](https://github.com/QTSurfer/lastra-convert).
          schema:
            type: string
            enum: [lastra, parquet]
            default: lastra
            example: lastra
      responses:
        '200':
          description: |
            One hour of tickers for the instrument. `Content-Type` is
            `application/vnd.lastra` by default or
            `application/vnd.apache.parquet` when `format=parquet` was
            requested.
          headers:
            Content-Disposition:
              description: |
                Attachment filename `{BASE}_{QUOTE}_{YYYY-MM-DD}_h{HH}.{ext}`
                where `{ext}` is `lastra` or `parquet` to match the format.
              schema:
                type: string
          content:
            application/vnd.lastra:
              schema:
                type: string
                format: binary
            application/vnd.apache.parquet:
              schema:
                type: string
                format: binary
        '400':
          description: Missing or malformed parameters (e.g. `hour` not `YYYY-MM-DDTHH`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: No Lastra segment exists for the requested instrument/hour.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: Unexpected I/O error serving the file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      tags:
        - Exchange
  '/exchange/{exchangeId}/klines/{base}/{quote}':
    get:
      operationId: downloadKlines
      summary: Download one hour of klines for an instrument as a Lastra segment
      description: |
        Same shape and semantics as `/exchange/{exchangeId}/tickers/{base}/{quote}`,
        but serves klines (aggregated bars) instead of raw ticks. One
        [Lastra](https://github.com/QTSurfer/lastra-java) segment = one hour of
        klines at the exchange's native kline cadence, aligned to UTC.

        Klines use the same columnar layout as tickers — readers that handle one
        format read the other with the same code. Use this endpoint when a
        per-tick payload would be too large for the window of interest.
      parameters:
        - name: exchangeId
          in: path
          required: true
          description: ID of the exchange (e.g. `binance`).
          schema:
            type: string
            example: binance
        - name: base
          in: path
          required: true
          description: Base asset symbol.
          schema:
            type: string
            example: BTC
        - name: quote
          in: path
          required: true
          description: Quote asset symbol.
          schema:
            type: string
            example: USDT
        - name: hour
          in: query
          required: true
          description: |
            Hour selector in `YYYY-MM-DDTHH` (UTC). The returned segment covers
            `[HH:00:00Z, HH+1:00:00Z)`.
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}$'
            example: '2026-01-15T10'
        - name: format
          in: query
          required: false
          description: |
            Response wire format. `lastra` (default) returns raw Lastra bytes.
            `parquet` returns Parquet via on-the-fly conversion.
          schema:
            type: string
            enum: [lastra, parquet]
            default: lastra
            example: lastra
      responses:
        '200':
          description: |
            One hour of klines for the instrument. `Content-Type` is
            `application/vnd.lastra` by default or
            `application/vnd.apache.parquet` when `format=parquet`.
          headers:
            Content-Disposition:
              description: |
                Attachment filename
                `{BASE}_{QUOTE}_{YYYY-MM-DD}_h{HH}_klines.{ext}`
                where `{ext}` is `lastra` or `parquet` to match the format.
              schema:
                type: string
          content:
            application/vnd.lastra:
              schema:
                type: string
                format: binary
            application/vnd.apache.parquet:
              schema:
                type: string
                format: binary
        '400':
          description: Missing or malformed parameters (e.g. `hour` not `YYYY-MM-DDTHH`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: No Lastra segment exists for the requested instrument/hour.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: Unexpected I/O error serving the file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      tags:
        - Exchange
  '/strategies':
    get:
      operationId: listStrategies
      summary: List your registered strategies
      description: |
        Every strategy you have registered and not deleted, most recently compiled first.

        Each entry carries the same provenance `GET /strategy/{strategyId}` does — `compiledAt`,
        `requiredSources` — but not its validation state, so listing stays cheap regardless of how
        many strategies you have. Check a specific strategy's validation with `GET
        /strategy/{strategyId}`.
      responses:
        '200':
          description: |
            Your registered strategies. An empty array if you have none — this is never a `404`.
          content:
            application/json:
              schema:
                type: object
                required: [strategies]
                properties:
                  strategies:
                    type: array
                    items:
                      $ref: '#/components/schemas/StrategySummary'
              example:
                strategies:
                  - strategyId: 6bsh31ikwkuivhtgcoa6s4
                    compiledAt: '2026-08-19T10:15:00Z'
                    requiredSources: [Ticker]
                  - strategyId: 2ul144qe9tlwzu5anhwvc6
                    compiledAt: '2026-08-12T09:02:11Z'
      security:
        - bearerAuth: []
      tags:
        - Strategy

  '/strategy':
    post:
      operationId: compileStrategy
      summary: Compile and register a strategy
      description: |
        Compiles raw strategy source and registers it, returning its `strategyId`.

        **This answers one question: is the source valid Java.** It compiles, registers, and hands
        back the id — nothing more. Whether the class can actually run is
        `POST /strategy/{strategyId}/validate`, and everything known about a strategy, validation
        included, is read from `GET /strategy/{strategyId}`. One place to ask, so there is no second
        answer to keep in step.

        The `strategyId` is derived from what the code *means*, not from how it is written. Adding a
        comment, inserting a blank line, re-indenting, reordering imports, or moving a method around
        all return the **same** id — you have not created a second strategy. Renaming a variable,
        changing an identifier's case, reordering fields, or reordering statements inside a method
        return a **different** one.

        Two rules follow, and they are worth designing around:

        - re-submitting a strategy you have only reformatted is free, and gives you back the id you
          already had, along with any validation already recorded against it;
        - the id says nothing about *behaviour*. Two sources that compute the same thing by
          different means are two strategies, because deciding otherwise would mean deciding program
          equivalence.

        The response also lists `declaredProperties` — the sweep/execute param keys this strategy
        is known to accept, so a caller can catch a typo'd key before submitting a sweep instead of
        only learning it from a rejected one. See `DeclaredProperty`: best-effort, not exhaustive.
      requestBody:
        description: The raw strategy source code
        required: true
        content:
          text/plain:
            schema:
              type: string
              description: Raw strategy Java source code
      responses:
        '200':
          description: Compiled and registered
          content:
            application/json:
              schema:
                type: object
                required: [strategyId]
                properties:
                  strategyId:
                    $ref: '#/components/schemas/strategyId'
                  declaredProperties:
                    type: array
                    description: |
                      What could be established about this strategy's sweep-key vocabulary without
                      constructing it. See `DeclaredProperty` — best-effort, not exhaustive.
                    items:
                      $ref: '#/components/schemas/DeclaredProperty'
              example:
                strategyId: 6bsh31ikwkuivhtgcoa6s4
                declaredProperties:
                  - name: rsi.period
                    description: RSI period
                    defaultValue: '14'
                    reflected: true
                    min: 2
                    max: 50
                    step: 1
                  - name: enabled
                    description: Enabled
                    reflected: true
        '400':
          description: |
            The source is not valid Java; the message carries the compiler diagnostics. Nothing is
            registered, so there is no id to look up afterwards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
              example:
                code: 400
                message: 'Line 1, Column 18: syntax error'
        '429':
          description: Too many compilations in flight. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Strategy
  '/strategy/{strategyId}/validate':
    post:
      operationId: validateStrategy
      summary: Check that a registered strategy can actually run
      description: |
        Instantiates the compiled class and drives it through a bounded synthetic series, so a wiring
        fault surfaces here instead of at your first backtest. The verdict — pass or fail, plus any
        engine notices — is recorded and served from `GET /strategy/{strategyId}`.

        **Idempotent.** If a verdict already exists for the current compilation it comes straight
        back with `200` and nothing is queued. Otherwise the check is queued and this returns `202`;
        poll `GET /strategy/{strategyId}` until `validation` is `passed` or `failed`.

        Recompiling supersedes a verdict, which makes this callable again — the old answer described
        bytecode that is no longer what would run.
      parameters:
        - name: strategyId
          in: path
          required: true
          description: The id returned by `POST /strategy`
          schema:
            $ref: '#/components/schemas/strategyId'
      responses:
        '200':
          description: Already validated; the recorded verdict, unchanged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyState'
        '202':
          description: |
            Validation queued. Not a terminal outcome — poll `GET /strategy/{strategyId}` until
            `validation` leaves `pending`.

            The body is a `StrategyState` carrying only what is known at this point: the id and
            `validation: pending`. **The status code, not the body, is what tells the two responses
            apart** — a `200` can also carry `validation: pending`, left by a check an earlier call
            queued. So `202` means *this call started a check*, while `pending` means only *a check
            is outstanding*.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyState'
              example:
                strategyId: 6bsh31ikwkuivhtgcoa6s4
                validation: pending
        '404':
          description: No such registered strategy for this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Strategy
  '/strategy/{strategyId}':
    get:
      operationId: getStrategy
      summary: Get a strategy by id, including its validation state
      description: |
        Reports that the strategy is registered — implied by a `200` at all — and what validating it
        found.

        A `404` means one thing: no such registered strategy for this user. It is never a stale or
        expired answer; registration and verdict are stored durably, not cached.
      parameters:
        - name: strategyId
          in: path
          required: true
          description: The id returned by `POST /strategy`
          schema:
            $ref: '#/components/schemas/strategyId'
      responses:
        '200':
          description: Strategy state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyState'
        '404':
          description: No such registered strategy for this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Strategy
    delete:
      operationId: deleteStrategy
      summary: Release a registered strategy
      description: |
        Removes a strategy from `GET /strategy/{strategyId}` and `GET /strategies`. This is not
        undone by re-submitting the same source to `POST /strategy` — that registers a new
        strategy, with a new id.

        **Backtests you already ran against this strategy are unaffected.** Deleting it stops it
        from counting against your account and stops you from validating or re-running it under
        this id — it does not erase what already happened.

        Only removes a strategy you registered yourself. If you copied someone else's strategy
        (a shared/marketplace listing), deleting your copy never affects theirs, or anyone else's.
      parameters:
        - name: strategyId
          in: path
          required: true
          description: The id returned by `POST /strategy`
          schema:
            $ref: '#/components/schemas/strategyId'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                required: [strategyId, deleted]
                properties:
                  strategyId:
                    $ref: '#/components/schemas/strategyId'
                  deleted:
                    type: boolean
                    enum: [true]
              example:
                strategyId: 6bsh31ikwkuivhtgcoa6s4
                deleted: true
        '404':
          description: No such registered strategy for this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Strategy

  '/strategy/{strategyId}/code':
    get:
      operationId: getStrategyCode
      summary: Get a registered strategy's source, if you still have one to read
      description: |
        The exact source you last submitted for this id — the same text `POST /strategy` derives
        `strategyId` from, whitespace and comments included.

        **"If available", not "always".** A strategy you resolve only through a shared/marketplace
        listing you copied by reference carries no source of its own, and reads as a `404` here the
        same as a `strategyId` you never registered — that is the honest answer either way, since
        from this endpoint's point of view nothing is there to return.
      parameters:
        - name: strategyId
          in: path
          required: true
          description: The id returned by `POST /strategy`
          schema:
            $ref: '#/components/schemas/strategyId'
      responses:
        '200':
          description: The registered source
          content:
            application/json:
              schema:
                type: object
                required: [strategyId, code]
                properties:
                  strategyId:
                    $ref: '#/components/schemas/strategyId'
                  code:
                    type: string
                    description: Raw strategy Java source code, exactly as registered.
              example:
                strategyId: 6bsh31ikwkuivhtgcoa6s4
                code: |
                  package strategy;
                  public class EmaCrossStrategy extends AbstractTickerStrategy { ... }
        '404':
          description: No such registered strategy for this user, or nothing to read for this id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Strategy

  '/backtest/{exchangeId}/{type}/prepare':
    post:
      operationId: prepareBacktest
      summary: Prepare backtest data
      description: |
        Enqueues a prepare task over the requested date range. Returns immediately with a `jobId`;
        poll `GET /backtest/{exchangeId}/{type}/prepare/{jobId}` for completion.

        The same params always return the same `jobId` (idempotent). Repeated calls with identical
        params do not enqueue duplicate work — they reuse the existing job.

        **`exchangeId: user` is reserved for your own uploaded data.** Instead of a managed
        exchange, it prepares from a dataset you created via `POST /datasets` (see the **Dataset**
        endpoints) — send `datasetId` in place of `instrument`. See `PrepareRequest` below for the
        two request shapes.
      parameters:
        - name: exchangeId
          in: path
          description: |
            ID of the exchange to prepare the backtesting for (e.g. `binance`), or the reserved
            value `user` to prepare from a dataset you uploaded instead of a managed exchange.
          required: true
          schema:
            type: string
            example: binance
        - name: type
          in: path
          description: The type of data source to prepare from
          required: true
          schema:
            $ref: '#/components/schemas/DataSourceType'
      requestBody:
        description: The required data to prepare a backtesting
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareRequest'
      responses:
        '202':
          description: Prepare task accepted (queued for processing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedJob'
        '400':
          description: |
            Invalid request or parameters. Also returned when `from` is older than the configured
            lookback window or `to` is in the future. For `exchangeId: user`, also returned when
            the dataset's current upload has not finished ingesting, or `cadence` asks for a finer
            granularity than the dataset's own discovered cadence, or the requested range exceeds
            your tier's range limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: |
            Exchange or data source type not found. For `exchangeId: user`, also returned when
            `datasetId` (or a pinned `datasetVersionId`) doesn't exist or isn't yours.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: |
            Rate limited. Returned when the global queue exceeds capacity or the user has too many
            active backtests. Does not apply to `exchangeId: user` — a dataset prepare reads an
            already-ingested file rather than enqueueing worker capacity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
              example:
                code: 429
                message: "Too many active backtests. Wait for some to complete."
      security:
        - bearerAuth: []
      tags:
        - Backtesting
  '/backtest/{exchangeId}/{type}/prepare/{jobId}':
    get:
      operationId: getPrepareStatus
      summary: Get the status of a prepare job
      description: |
        Retrieves the current state of the prepare job identified by `jobId`.
        Poll until `status` is `Completed`, `Failed`, or `Aborted`.

        For a dataset prepare (`exchangeId: user`), coverage is reported against the dataset's own
        cadence grid instead of hours — see `cadence`/`gaps`/`largestGapSteps` on `PrepareJobState`.
      parameters:
        - name: exchangeId
          in: path
          description: |
            ID of the exchange for the backtesting process, or the reserved value `user` for a
            dataset-backed prepare.
          required: true
          schema:
            type: string
            example: binance
        - name: type
          in: path
          description: The type of data source to prepare from
          required: true
          schema:
            $ref: '#/components/schemas/DataSourceType'
        - name: jobId
          in: path
          description: Job ID returned by `POST /prepare`
          required: true
          schema:
            type: string
            example: 13RBLGQlPnfDjO6wyKSX8i
      responses:
        '200':
          description: Current prepare job state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepareJobState'
              example:
                contextId: "ctx_0bjmoxd4vahkgc0hnvdldh"
                status: "Completed"
                statusDetail: null
                size: 0
                completed: 24
                startTime: "2026-04-14T15:00:00Z"
                endTime: "2026-04-14T15:00:01Z"
                dataFrom: "2026-04-14T13:00:00Z"
                dataTo: "2026-04-14T15:30:05Z"
                coverageRatio: 0.994
                totalHours: 168
                hoursWithData: 167
                hoursWithoutData:
                  - hour: "2026-04-14T02:00:00Z"
                    expected: 0
                    rationale: low_activity
        '404':
          description: Prepare job not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '400':
          description: Invalid request or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Backtesting
  '/backtest/{exchangeId}/{type}/executeSweep/{requestId}':
    post:
      operationId: executeSweep
      summary: Execute a parameter sweep over prepared data
      description: |
        Runs a parameter matrix over the single immutable dataset identified by `requestId`.
        The backend expands and executes the matrix internally; clients poll the returned
        `sweepId` for incremental results.

        Supplying `walkForward` runs the sweep in a different mode entirely. Instead of scoring
        every parameter vector once over the whole range, the data is split into F sequential
        folds; each fold optimizes the full grid on its own window and then scores only its winner
        on the window immediately after — data that winner was not chosen on. It answers a harder
        question than a leaderboard: not "which parameters won", but "does re-optimizing this
        periodically actually work". Omit the block and nothing changes, including the response.

        The cost is the reason it is opt-in rather than always on: F folds × N vectors, so a
        4-fold run over a 500-point grid is 2004 backtests where the plain sweep is 500. The
        request is rejected when `folds × totalRuns` exceeds the server's sweep budget.
      parameters:
        - name: exchangeId
          in: path
          required: true
          schema:
            type: string
            example: binance
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DataSourceType'
        - name: requestId
          in: path
          required: true
          description: Job ID returned by `POST /backtest/{exchangeId}/{type}/prepare`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteSweepRequest'
      responses:
        '202':
          description: Sweep accepted. The effective seed is returned for reproducibility.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteSweepAccepted'
        '400':
          description: Invalid sweep specification or the expanded grid exceeds the server limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: Prepared request not found or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: Sweep queue or user concurrency limit reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Backtesting
  '/backtest/{exchangeId}/{type}/executeSweep/{requestId}/{sweepId}':
    get:
      operationId: getSweepResult
      summary: Get sweep progress and results
      description: |
        Returns incremental sweep progress. The default `ranked` view sorts and may truncate the
        display leaderboard. `order=natural` returns every available row, untruncated, ordered by
        deterministic `runIx`; use that view when materialising durable trial rows.

        The `ranked` view is ordered by **plateau score** by default, not by the raw objective. A
        plateau score is the objective of the worst run in a parameter point's immediate
        neighbourhood, so a point scores well only if the region around it also does — the highest
        raw score is frequently a spike that does not survive the parameters moving slightly. Pass
        `ranking=raw` for the unadjusted objective order.

        Rows in the `ranked` view carry `plateauScore` and `neighbourCount` when plateau ranking
        applied. Read them together: `neighbourCount: 0` means the point had no neighbours to
        compare against, so its plateau score is unevidenced rather than confirmed. Sweeps
        submitted before plateau ranking existed have no stored parameter grid to rebuild a
        neighbourhood from and are always ranked raw; the response's `ranking` field says which
        ordering was actually used.

        A sweep submitted with `walkForward` answers in a different shape, and the `walkForward`
        field on the response is what tells the two apart — it appears as soon as the sweep is
        accepted, before any fold has finished, so it is safe to branch on while polling. There
        the leaderboard is one row per completed fold: that fold's winner as it scored
        **out-of-sample**, with `runIx` carrying the fold index rather than a grid position. The
        in-sample runs behind those winners are not retained — they are an optimization's working
        set, and only the winner survives its fold. `ranking` is always `raw` and no plateau, DSR
        or PBO figure is reported: the out-of-sample scores are already the honest number, and
        layering a certification computed over F observations on top of them would overstate what
        was measured.
      parameters:
        - name: exchangeId
          in: path
          required: true
          schema:
            type: string
            example: binance
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DataSourceType'
        - name: requestId
          in: path
          required: true
          schema:
            type: string
        - name: sweepId
          in: path
          required: true
          schema:
            type: string
        - name: objective
          in: query
          required: false
          schema:
            type: string
            enum: [sharpe, sortino, pnl, maxdd]
        - name: order
          in: query
          required: false
          description: "`natural` is stable materialisation order; `ranked` is the display view."
          schema:
            type: string
            enum: [ranked, natural]
            default: ranked
        - name: ranking
          in: query
          required: false
          description: >-
            How the `ranked` view is ordered. `plateau` prefers points whose neighbourhood also
            scores well; `raw` uses the objective alone. Ignored when `order=natural`, which is
            always ordered by `runIx`.
          schema:
            type: string
            enum: [plateau, raw]
            default: plateau
      responses:
        '200':
          description: Current sweep snapshot and all currently available result rows for the selected view.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteSweepResult'
        '404':
          description: Sweep not found or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Backtesting
    delete:
      operationId: cancelSweep
      summary: Cancel a running parameter sweep
      description: Requests cancellation between parameter vectors. Completed rows remain readable.
      parameters:
        - name: exchangeId
          in: path
          required: true
          schema:
            type: string
            example: binance
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DataSourceType'
        - name: requestId
          in: path
          required: true
          schema:
            type: string
        - name: sweepId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cancellation requested.
          content:
            application/json:
              schema:
                type: object
                required: [status, sweepId]
                properties:
                  status:
                    type: string
                    enum: [cancelling]
                  sweepId:
                    type: string
        '404':
          description: Sweep not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Backtesting
  '/backtest/{exchangeId}/{type}/executeSweep/{requestId}/{sweepId}/sensitivity':
    get:
      operationId: getSweepSensitivity
      summary: Get sweep sensitivity surfaces
      description: |
        How the objective moves as each parameter moves — the question a leaderboard cannot answer.
        A leaderboard says which point won; a sweep can spend its entire budget on an axis that
        never moved the objective at all, and showing only the top rows hides that completely.

        A **marginal** takes one axis and collapses every other one: for each value of that axis,
        it aggregates every run that used it, whatever the rest of the parameters were. A flat
        marginal means the axis is irrelevant over the range swept. `best`, `mean` and `worst` are
        all reported because them disagreeing is itself the signal — a value with a high `best` and
        a poor `mean` works only in specific company, which is an interaction between parameters
        and would be invisible behind a single number.

        A **heatmap** does the same over a pair of axes, where that interaction becomes visible
        directly.

        Served from the sweep's stored rows: no re-run, no engine call, and it works on a sweep
        still in flight — the aggregates then describe the runs finished so far. Aborted runs are
        excluded throughout, since a run that threw measured nothing and counting it as a bad
        outcome would invent evidence against a parameter value that was never really tested.

        This is a separate endpoint rather than extra fields on the result view because the
        two-dimensional half is quadratic in the axis count (N axes give N(N-1)/2 surfaces, each
        the product of two axes' value counts) and is not wanted on the poll that drives progress.
      parameters:
        - name: exchangeId
          in: path
          required: true
          schema:
            type: string
            example: binance
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DataSourceType'
        - name: requestId
          in: path
          required: true
          schema:
            type: string
        - name: sweepId
          in: path
          required: true
          schema:
            type: string
        - name: objective
          in: query
          required: false
          description: Which metric to aggregate. Defaults to the objective the sweep was submitted with.
          schema:
            type: string
            enum: [sharpe, sortino, pnl, maxdd]
      responses:
        '200':
          description: Sensitivity aggregates over the rows available so far.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SweepSensitivity'
        '404':
          description: Sweep not found or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Backtesting
  '/backtest/{exchangeId}/{type}/executeSweep/{requestId}/{sweepId}/runs/{runIx}/equityCurve':
    get:
      operationId: getSweepRunEquityCurve
      summary: Get one sweep trial's equity curve
      description: |
        The resource a leaderboard row's `equityCurve.url` points at — only reachable when that
        trial's curve was actually selected (`equityCurve.mode: topN` or `topPct` on the sweep
        submission, and this trial ranked among the winners). Returns the exact same
        `{points|timestamps+equities, meta}` shape a plain backtest's inline `equityCurve` carries.

        Query params reshape the response the same way a plain backtest's `equityCurve` options do.
        A param genuinely absent from the query string falls back to the `equityCurve` transform
        preference the sweep was submitted with — a param
        present but malformed does not fall back, it degrades the same way it always has. Above a
        server-side size threshold, the shape is forced regardless of either — `meta.outMode` in
        the response, not the query string or the submitted default, is the source of truth for
        what shape actually came back.
      parameters:
        - name: exchangeId
          in: path
          required: true
          schema:
            type: string
            example: binance
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DataSourceType'
        - name: requestId
          in: path
          required: true
          schema:
            type: string
        - name: sweepId
          in: path
          required: true
          schema:
            type: string
        - name: runIx
          in: path
          required: true
          description: The trial's `runIx`, as it appears on its leaderboard row.
          schema:
            type: integer
            minimum: 0
        - name: outMode
          in: query
          required: false
          description: >-
            Requested JSON shape. Omit to use the sweep's submitted default; may be overridden
            either way by the server's size guard.
          schema:
            allOf:
              - $ref: '#/components/schemas/EquityCurveOutMode'
            default: ARRAY
        - name: resample
          in: query
          required: false
          description: >-
            Downsample to at most this many points (extrema-preserving — the global max/min and
            the exact first/last point are always kept). Omit to use the sweep's submitted
            default (itself omittable, for no downsampling).
          schema:
            type: integer
            minimum: 2
        - name: differential
          in: query
          required: false
          description: >-
            Delta-encode both fields from the second point onward. Omit to use the sweep's
            submitted default.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: The trial's equity curve, shaped per the resolved options.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquityCurveResult'
        '404':
          description: >-
            Sweep or `runIx` not found, or that trial's curve was never selected — indistinguishable
            from a caller's perspective.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Backtesting
  '/backtest/{exchangeId}/{type}/execute':
    post:
      operationId: executeBacktest
      summary: Execute a compiled strategy against a prepared dataset
      description: |
        Enqueues an execute task that runs the strategy identified by `strategyId` over the data
        prepared by the prepare job identified by `prepareJobId`. The instrument and date range are
        recovered from the prepare job — they do not need to be sent again.

        Returns immediately with a `jobId`; poll `GET /backtest/{exchangeId}/{type}/execute/{jobId}`
        for the result.

        The same params (same `prepareJobId`, `strategyId`, `storeSignals`, `equityCurve`) always
        return the same `jobId` (idempotent) — a request that omits `equityCurve` dedupes exactly
        as it did before that field existed.

        Works unchanged for a dataset-backed prepare (`exchangeId: user`) — the request body is
        identical either way, since the instrument and range are recovered from `prepareJobId`.
      parameters:
        - name: exchangeId
          in: path
          description: |
            ID of the exchange for the backtesting process, or the reserved value `user` if
            `prepareJobId` came from a dataset-backed prepare.
          required: true
          schema:
            type: string
            example: binance
        - name: type
          in: path
          description: The type of data source to execute from
          required: true
          schema:
            $ref: '#/components/schemas/DataSourceType'
      requestBody:
        description: Execute task parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prepareJobId, strategyId]
              properties:
                prepareJobId:
                  type: string
                  description: Job ID returned by `POST /prepare` (must be in `Completed` state)
                  example: 13RBLGQlPnfDjO6wyKSX8i
                strategyId:
                  $ref: '#/components/schemas/strategyId'
                storeSignals:
                  type: boolean
                  description: |
                    When true, the worker uploads emitted signals to object storage and the
                    response includes `signalsUrl` / `signalsId` fields. Defaults to false.
                  default: false
                equityCurve:
                  $ref: '#/components/schemas/EquityCurveOptions'
            example:
              prepareJobId: "13RBLGQlPnfDjO6wyKSX8i"
              strategyId: "6bsh31ikwkuivhtgcoa6s4"
              storeSignals: false
      responses:
        '202':
          description: Execute task accepted (queued for processing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedJob'
        '404':
          description: Prepare job not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '400':
          description: Invalid request or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: Rate limited (global queue at capacity or per-user limit reached)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Backtesting
  '/backtest/{exchangeId}/{type}/execute/{jobId}':
    delete:
      operationId: cancelBacktest
      summary: Cancel a running backtest execution
      description: |
        Requests cancellation of the specified execution. The execution
        status will transition to `Aborted` once the cancellation is
        processed. Cancellation is asynchronous — poll the GET endpoint
        to confirm the final status.
      parameters:
        - name: exchangeId
          in: path
          required: true
          schema:
            type: string
            example: binance
        - name: type
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/DataSourceType'
        - name: jobId
          in: path
          description: Job ID returned by `POST /execute`
          required: true
          schema:
            type: string
            example: 13RBLGQlPnfDjO6wyKSX8i
      responses:
        '200':
          description: Cancellation request accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [cancelling]
                    example: cancelling
                  jobId:
                    type: string
                    example: 13RBLGQlPnfDjO6wyKSX8i
        '404':
          description: Execution not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Backtesting
    get:
      operationId: getBacktestResult
      summary: Get the result of a backtest execution job
      description: |
        Retrieves the current state and results of the execute job identified by `jobId`.
        Poll until `state.status` is `Completed`, `Failed`, or `Aborted`.

        A `202` means the result is not readable yet — keep polling. It is never a terminal
        outcome, and it carries no `state`, so a poll loop that stops on a terminal status will
        not stop on it.
      parameters:
        - name: exchangeId
          in: path
          description: ID of the exchange for the backtesting process
          required: true
          schema:
            type: string
            example: binance
        - name: type
          in: path
          description: The type of data source to execute from
          required: true
          schema:
            $ref: '#/components/schemas/DataSourceType'
        - name: jobId
          in: path
          description: Job ID returned by `POST /execute`
          required: true
          schema:
            type: string
            example: 13RBLGQlPnfDjO6wyKSX8i
      responses:
        '200':
          description: Backtesting execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BacktestJobResult'
              example:
                state:
                  contextId: "ctx_2mnyblatqqw34kix2echpb"
                  status: "Completed"
                  statusDetail: null
                  size: 0
                  completed: 73158
                  startTime: "2026-03-18T13:21:28.958Z"
                  endTime: "2026-03-18T13:21:29.605Z"
                results:
                  hostName: "executor10"
                  iops: 123956.53
                  strategyId: "strategy:00000000-0000-0000-0000-000000000000:2iyvtenlzh9dabqtxn7nbv"
                  instrument: "BTC/USDT"
                  notices:
                    - level: WARN
                      code: indicator.bar-data-on-ticker-path
                      message: Indicator requires bar data but is on the ticker path
                      provenance: execute
                  pnlTotal: 42.75
                  pnlTotalPercent: 2.25
                  totalTrades: 156
                  winRate: 58.33
                  sharpeRatio: 1.245
                  sortinoRatio: 1.872
                  cagr: 0.1534
                  maxDrawdown: 12.50
                  maxDrawdownPercent: 8.75
                  equityCurve:
                    points:
                      - timestamp: 1700000000000
                        equity: 100.0
                      - timestamp: 1700000060000
                        equity: 110.5
                      - timestamp: 1700000120000
                        equity: 90.25
                    meta:
                      inputPointCount: 3
                      outputPointCount: 3
                      resampled: false
                      differential: false
                      outMode: ARRAY
                  signalCount: 100000
                  signalsId: "00000000-0000-0000-0000-000000000000/exec/binance/3vsndwikcuaatjmb83fjtl"
                  signalsUrl: "https://storage.qtsurfer.com/00000000-0000-0000-0000-000000000000/exec/binance/3vsndwikcuaatjmb83fjtl.parquet"
                  signalsUpload: "Done"
                  signalsUploadedAt: "2026-03-18T13:21:48.170Z"
        '202':
          description: |
            The job is known but its result is not readable yet — keep polling.

            Returned in two situations, both of which mean "ask again", never "you are done":
            the job has not produced its result yet, or the job reached a terminal status while
            its stored result could not be read back. The response body is an empty object: it
            deliberately carries no `state`, so a client cannot mistake it for a finished result.

            Treat any `202` as a signal to continue the poll loop under your existing timeout.
            Never treat it as a terminal outcome.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
              example: {}
        '404':
          description: Execution job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '400':
          description: Invalid request or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Backtesting
  '/datasets':
    post:
      operationId: createDataset
      summary: Create a dataset and get a URL to upload it to
      description: |
        Creates a dataset AND its first upload session in one call — a presigned URL your client
        PUTs the file to directly, no API credentials involved in that PUT. Call
        `POST /datasets/{datasetId}/uploads/{uploadId}/finalize` once the upload completes to kick
        off ingest.

        Losing this response loses nothing: calling this dataset's
        `POST /datasets/{datasetId}/uploads` returns the very same upload session again rather than
        opening a new one, as long as nothing has been finalized against it yet.

        v1 is ticker data only — `type` is not a request field, it is always `"ticker"` in the
        response. `instrument` must be a plain spot pair (`BASE/QUOTE`, exactly one `/`); derivative
        forms (e.g. `BTC/USDT:USDT`) are rejected.

        **Upload format.** A CSV with a header row. Required columns: `timestamp` (ISO-8601, or
        numeric epoch seconds/millis/micros — detected from the first row, then enforced for every
        later row), `close`. Optional columns: `open`, `high`, `low`, `volume`, `quoteVolume`,
        `bid`, `bidSize`, `ask`, `askSize`. Cadence and timestamp unit are discovered from the data,
        not declared.
      requestBody:
        description: The dataset to create
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, instrument]
              properties:
                name:
                  type: string
                  description: A name unique among your datasets. `409` if already taken.
                  example: "My BTC ticks"
                instrument:
                  $ref: '#/components/schemas/Instrument'
            example:
              name: "My BTC ticks"
              instrument: "BTC/USDT"
      responses:
        '201':
          description: Dataset created, with an upload session ready for its first version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetCreated'
              example:
                datasetId: "ds_3f9a1c2e7b0d4a5f"
                name: "My BTC ticks"
                type: "ticker"
                instrument: "BTC/USDT"
                uploadId: "up_1a2b3c4d5e6f7a8b"
                upload:
                  url: "https://storage.qtsurfer.com/00000000-.../uploads/up_1a2b3c4d5e6f7a8b/raw.csv?X-Amz-..."
                  expiresInMinutes: 15
        '400':
          description: Invalid request, or `instrument` is not a plain spot pair
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '409':
          description: You already have a dataset with this `name`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: Your tier's dataset count limit is reached. Delete one, or upgrade.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Dataset
    get:
      operationId: listDatasets
      summary: List your datasets
      description: |
        Every dataset you have created and not deleted, most recently created first. Never a `404`
        — an empty array if you have none, same convention as `GET /strategies`.
      responses:
        '200':
          description: Your datasets
          content:
            application/json:
              schema:
                type: object
                required: [datasets]
                properties:
                  datasets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dataset'
              example:
                datasets:
                  - datasetId: "ds_3f9a1c2e7b0d4a5f"
                    name: "My BTC ticks"
                    type: "ticker"
                    instrument: "BTC/USDT"
                    createdAt: "2026-08-20T09:00:00Z"
                    currentVersionId: "dsv_8e2b4f19c6a03d7e"
                    updatedAt: "2026-08-20T09:04:12Z"
                    from: "2026-03-01T00:00:00Z"
                    to: "2026-03-08T00:00:00Z"
                    cadence: "1m"
      security:
        - bearerAuth: []
      tags:
        - Dataset
  '/datasets/{datasetId}':
    get:
      operationId: getDataset
      summary: Get a dataset by id
      description: Detail for one dataset, plus a self link.
      parameters:
        - name: datasetId
          in: path
          required: true
          description: The id returned by `POST /datasets`
          schema:
            type: string
            example: "ds_3f9a1c2e7b0d4a5f"
      responses:
        '200':
          description: Dataset detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetWithLinks'
              example:
                datasetId: "ds_3f9a1c2e7b0d4a5f"
                name: "My BTC ticks"
                type: "ticker"
                instrument: "BTC/USDT"
                createdAt: "2026-08-20T09:00:00Z"
                currentVersionId: "dsv_8e2b4f19c6a03d7e"
                updatedAt: "2026-08-20T09:04:12Z"
                from: "2026-03-01T00:00:00Z"
                to: "2026-03-08T00:00:00Z"
                cadence: "1m"
                _links:
                  self:
                    href: "/v1/datasets/ds_3f9a1c2e7b0d4a5f"
        '404':
          description: No such dataset for this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Dataset
    delete:
      operationId: deleteDataset
      summary: Delete a dataset
      description: |
        Soft-delete — the dataset stops appearing in `GET /datasets`/`GET /datasets/{datasetId}` and
        can no longer be prepared from, but its object data is reclaimed later rather than purged
        inline, so a backtest already running against one of its versions is not disrupted.
      parameters:
        - name: datasetId
          in: path
          required: true
          description: The id returned by `POST /datasets`
          schema:
            type: string
            example: "ds_3f9a1c2e7b0d4a5f"
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                required: [datasetId, deleted]
                properties:
                  datasetId:
                    type: string
                  deleted:
                    type: boolean
                    enum: [true]
              example:
                datasetId: "ds_3f9a1c2e7b0d4a5f"
                deleted: true
        '404':
          description: No such dataset for this user, or already deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Dataset
  '/datasets/{datasetId}/uploads':
    post:
      operationId: openDatasetUpload
      summary: Open a new upload session for an existing dataset
      description: |
        Get a fresh presigned URL to upload a new version into a dataset you already have — a
        corrected file, or the next chunk of history. Behaves the same way `POST /datasets` does
        for a brand-new dataset's own upload: at most one upload session is open per dataset at a
        time, so calling this again before finalizing just hands back that same session rather
        than opening a second one — safe to call repeatedly if a response gets lost.

        Once a session has been finalized (successfully or not), the next call here opens a
        genuinely new one for that dataset's next version.
      parameters:
        - name: datasetId
          in: path
          required: true
          description: The id returned by `POST /datasets`
          schema:
            type: string
            example: "ds_3f9a1c2e7b0d4a5f"
      responses:
        '201':
          description: An upload session — new, or the one already open for this dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetUploadSession'
              example:
                uploadId: "up_1a2b3c4d5e6f7a8b"
                upload:
                  url: "https://storage.qtsurfer.com/00000000-.../uploads/up_1a2b3c4d5e6f7a8b/raw.csv?X-Amz-..."
                  expiresInMinutes: 15
        '404':
          description: No such dataset for this user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Dataset
  '/datasets/{datasetId}/uploads/{uploadId}/finalize':
    post:
      operationId: finalizeDatasetUpload
      summary: Finalize an uploaded file and start ingest
      description: |
        Call once the file has been PUT to the `upload.url` from `POST /datasets` (or from
        `POST /datasets/{datasetId}/uploads`). Enqueues ingest and returns immediately; poll
        `GET /datasets/{datasetId}/uploads/{uploadId}` for the result.

        Idempotent while the upload is still open — a repeat finalize before it has produced a
        version returns the same `jobId` rather than enqueueing a second ingest. Once it HAS
        produced a version, `uploadId` is spent: finalizing it again is a `409`, even with
        different bytes freshly PUT to the same URL — open a new upload session instead
        (`POST /datasets/{datasetId}/uploads`) rather than reusing a spent one.
      parameters:
        - name: datasetId
          in: path
          required: true
          description: The id returned by `POST /datasets`
          schema:
            type: string
            example: "ds_3f9a1c2e7b0d4a5f"
        - name: uploadId
          in: path
          required: true
          description: The `uploadId` returned by `POST /datasets`
          schema:
            type: string
            example: "up_1a2b3c4d5e6f7a8b"
      responses:
        '202':
          description: Ingest queued
          content:
            application/json:
              schema:
                type: object
                required: [jobId]
                properties:
                  jobId:
                    type: string
              example:
                jobId: "dataset-upload:00000000-.../ds_3f9a1c2e7b0d4a5f:up_1a2b3c4d5e6f7a8b"
        '404':
          description: |
            No such dataset for this user; `uploadId` was not issued for this dataset (never
            minted, or minted for a different one); or nothing was PUT to `upload.url` yet — a
            finalize with nothing to finalize.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '409':
          description: |
            `uploadId` already produced a version. The error message names it. Open a new upload
            session (`POST /datasets/{datasetId}/uploads`) for anything new.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '413':
          description: The uploaded file exceeds your tier's size limit for a dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Dataset
  '/datasets/{datasetId}/uploads/{uploadId}':
    get:
      operationId: getDatasetUpload
      summary: Get the state of an upload/ingest
      description: |
        Poll after `POST .../finalize` until `status` is `ready` or `failed`. Also reports
        `uploading` (finalize not called yet, but the file was PUT) before you finalize at all.
      parameters:
        - name: datasetId
          in: path
          required: true
          description: The id returned by `POST /datasets`
          schema:
            type: string
            example: "ds_3f9a1c2e7b0d4a5f"
        - name: uploadId
          in: path
          required: true
          description: The `uploadId` returned by `POST /datasets`
          schema:
            type: string
            example: "up_1a2b3c4d5e6f7a8b"
      responses:
        '200':
          description: Current upload/ingest state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetUploadState'
              example:
                uploadId: "up_1a2b3c4d5e6f7a8b"
                status: "ready"
                version:
                  datasetId: "ds_3f9a1c2e7b0d4a5f"
                  id: "dsv_8e2b4f19c6a03d7e"
                  bytes: 4831022
                  rows: 86400
                  cadence: "1s"
                  timestampUnit: "iso"
                  gaps: 0
                  largestGapSteps: 0
        '404':
          description: |
            No such dataset for this user, or genuinely nothing is known about this `uploadId` — no
            version, no in-flight job, and nothing was ever PUT to its upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - bearerAuth: []
      tags:
        - Dataset
components:
  schemas:
    ResponseError:
      description: General response error
      type: object
      required:
        - code
        - message
      properties:
        code:
          description: Status code
          type: integer
          example: 400
        message:
          description: Error description
          type: string
          example: Invalid request
    Instrument:
      description: Exchange instrument identifier (e.g. a currency pair)
      type: string
      example: BTC/USDT
    InstrumentListResponse:
      description: HAL-style response envelope for the instruments listing
      type: object
      required:
        - data
        - meta
        - _links
      properties:
        data:
          type: array
          description: The list of instruments for the segment
          items:
            $ref: '#/components/schemas/InstrumentDetail'
        meta:
          $ref: '#/components/schemas/InstrumentListMeta'
        _links:
          $ref: '#/components/schemas/InstrumentLinks'
    InstrumentListMeta:
      description: Metadata describing the instruments listing
      type: object
      required:
        - updatedAt
        - exchange
        - segment
      properties:
        updatedAt:
          type: string
          format: date-time
          description: When this listing was last refreshed
          example: "2026-07-09T19:09:07Z"
        exchange:
          type: string
          description: The exchange the instruments belong to
          example: binance
        segment:
          type: string
          enum: [spot, futures]
          description: The market segment served in `data`
          example: spot
    InstrumentLinks:
      description: HAL `_links` — segment discovery for the instruments listing
      type: object
      required:
        - self
      properties:
        self:
          allOf:
            - $ref: '#/components/schemas/HalLink'
          description: Link to this listing
        spot:
          allOf:
            - $ref: '#/components/schemas/HalLink'
          description: Link to the spot instruments listing. Present when the exchange has a spot segment.
        futures:
          allOf:
            - $ref: '#/components/schemas/HalLink'
          description: Link to the futures instruments listing. Present only when the exchange has a futures segment.
    StrategyLinks:
      description: |
        HAL `_links` for a strategy — present on a full `StrategyState` body (`GET
        /strategy/{strategyId}`, and `POST /strategy/{strategyId}/validate`'s already-validated
        `200`), absent from that same endpoint's `202` — a deliberately partial stub carrying only
        what is known before a check has even started. Following `code` can still `404` once
        present: it documents its own honest "nothing to return" for a strategy with no source of
        its own (a `REFERENCE` marketplace copy, or one resolved only through the platform's shared
        pool). This link says where to look, not that something is there.
      type: object
      required:
        - code
      properties:
        code:
          allOf:
            - $ref: '#/components/schemas/HalLink'
          description: Link to this strategy's registered source, `GET /strategy/{strategyId}/code`.
    HalLink:
      description: A HAL link object (Hypertext Application Language)
      type: object
      required:
        - href
      properties:
        href:
          type: string
          format: uri-reference
          description: The link target as an absolute-path URI reference (resolve against the API base). A URI Template (RFC 6570) when `templated` is true.
          example: /v1/exchange/binance/spot/instruments
        templated:
          type: boolean
          description: True when `href` is an RFC 6570 URI Template.
          example: false
    InstrumentDetail:
      description: Exchange instrument with per-data-type coverage and market info
      type: object
      required:
        - id
        - base
        - quote
      properties:
        id:
          type: string
          description: Instrument identifier (e.g. currency pair)
          example: BTC/USDT
        base:
          type: string
          description: Base currency
          example: BTC
        quote:
          type: string
          description: Quote currency
          example: USDT
        coverage:
          $ref: '#/components/schemas/InstrumentCoverage'
        lastPrice:
          type: number
          format: double
          description: Last traded price
          example: 84250.50
        volume24h:
          type: number
          format: double
          description: Trading volume in the last 24 hours (in quote currency)
          example: 1234567.89
    InstrumentCoverage:
      description: Time coverage of available data for this instrument, per data type
      type: object
      properties:
        tickers:
          allOf:
            - $ref: '#/components/schemas/CoverageWindow'
          description: Coverage of ticker data
        klines:
          allOf:
            - $ref: '#/components/schemas/CoverageWindow'
          description: Coverage of kline (candlestick) data
    CoverageWindow:
      description: The time range of available data for a single data type
      type: object
      properties:
        from:
          type: string
          format: date-time
          description: Earliest timestamp with data available
          example: "2026-04-10T21:00:00Z"
        to:
          type: string
          format: date-time
          description: Latest timestamp with data available
          example: "2026-07-09T20:31:08Z"
        inactiveSince:
          type: string
          format: date-time
          description: If the instrument stopped producing this data type (delisted/inactive), the timestamp it went inactive. Optional — omitted while the instrument is active.
          example: "2026-06-30T12:00:00Z"
    Exchange:
      description: Exchange service provider
      type: object
      required:
        - id
        - name
      properties:
        id:
          description: Unique identifier for the exchange
          type: string
          example: binance
        name:
          description: Name of the exchange
          type: string
          example: Binance
        description:
          description: Description of the exchange
          type: string
          example: Binance cryptocurrency exchange
    DataSourceType:
      type: string
      description: Managed exchange data sources available for backtesting.
      enum:
        - ticker
      example: ticker
    PrepareRequest:
      type: object
      description: |
        Two shapes, chosen by the `exchangeId` path segment. Against a managed exchange,
        `instrument` is required and `datasetId`/`datasetVersionId` are ignored. Against the
        reserved `exchangeId: user`, send `datasetId` instead of `instrument` — `instrument` is
        ignored there, since it comes from the dataset itself.
      required: [from, to]
      properties:
        instrument:
          allOf:
            - $ref: '#/components/schemas/Instrument'
          description: |
            Required unless `exchangeId` is the reserved value `user`, in which case send
            `datasetId` instead.
        datasetId:
          type: string
          description: |
            Only for `exchangeId: user`: the id of a dataset created via `POST /datasets`, in place
            of `instrument`. Ignored against a managed exchange.
          example: "ds_3f9a1c2e7b0d4a5f"
        datasetVersionId:
          type: string
          description: |
            Only for `exchangeId: user`, and optional even then: pins a specific past version of
            the dataset instead of its current one. Defaults to the dataset's current version.
          example: "dsv_8e2b4f19c6a03d7e"
        from:
          type: string
          description: |
            Start date for the preparation process. Supports the following formats:
            - ISO-8601 (e.g. 2024-12-14T23:59:59Z)
            - ISO DATE (e.g. 2024-12-14)
            - BASIC ISO DATE (e.g., 20241214)
          example: "2024-12-13T00:00:00Z"
        to:
          type: string
          description: |
            End date for the preparation process. Supports the following formats:
            - ISO-8601 (e.g. 2024-12-14T23:59:59Z)
            - ISO DATE (e.g. 2024-12-14)
            - BASIC ISO DATE (e.g., 20241214)
          example: "2024-12-14"
        cadence:
          type: string
          description: |
            Output bar cadence for the prepared range. Defaults to the publisher's
            native cadence (`1s`); coarser cadences are produced on demand via
            resampling and stored alongside the native blob in cache. Coarser-than-
            source values must be exact multiples of the source cadence — invalid
            labels return `400`.
          enum: [1s, 5s, 1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 8h, 12h, 1d, 1w, 1q]
          default: "1s"
      example:
        instrument: BTC/USDT
        from: "2024-12-13T00:00:00Z"
        to: "2024-12-14T00:00:00Z"
        cadence: "1m"
    JobState:
      type: object
      description: Information about a single job
      required:
        - contextId
        - status
        - size
        - completed
      properties:
          contextId:
            type: string
            description: Opaque context identifier for the job
            example: "ctx_2o8heaioicr0edvx5ybcap"
          status:
            type: string
            description: |
              Current status of the job. Treat `Completed | Aborted | Failed` as
              terminal; `New | Started` mean keep polling. A single-instrument prepare
              is always terminal (`Completed`) — decide from
              `PrepareJobState.coverageRatio`, not by polling.
            enum:
              - New
              - Started
              - Completed
              - Aborted
              - Failed
            example: "Completed"
          statusDetail:
            type: ['string', 'null']
            description: Detailed status information, if available
            example: "Job completed with error code 5001"
          size:
            type: integer
            description: Total size of the data being prepared
            example: 100
          completed:
            type: integer
            description: The amount of data processed so far
            example: 50
          startTime:
            type: ['string', 'null']
            format: date-time
            description: Timestamp for when the preparation started
            example: "2025-01-04T14:00:00Z"
          endTime:
            type: ['string', 'null']
            format: date-time
            description: Timestamp for when the preparation finished
            example: "2025-01-04T14:00:20Z"
    PrepareJobState:
      description: |
        State of a single-instrument prepare job — the `JobState` shape plus a coverage summary.
        A single-instrument prepare is always terminal (`status: Completed`): the client decides
        what to do from `coverageRatio` (e.g. execute if it is at or above a chosen threshold)
        rather than polling for missing hours that may never arrive — a missing hour for one
        instrument usually means low activity, not missing data.

        **Two coverage shapes, by exchange vs. dataset.** Against a managed exchange, coverage is
        walked hour by hour: `totalHours`/`hoursWithData`/`hoursWithoutData`. Against a
        dataset-backed prepare (`exchangeId: user`), coverage is reported on the dataset's own
        cadence grid instead — hour-walking a daily dataset would report `1/24` and read as
        broken — via `cadence`/`gaps`/`largestGapSteps`; `totalHours`/`hoursWithData`/
        `hoursWithoutData` are absent in that case. `dataFrom`/`dataTo`/`coverageRatio` are present
        either way, computed accordingly.
      allOf:
        - $ref: '#/components/schemas/JobState'
        - type: object
          properties:
            dataFrom:
              type: ['string', 'null']
              format: date-time
              description: Start of the available data range for the prepared instrument.
              example: "2026-04-14T13:00:00Z"
            dataTo:
              type: ['string', 'null']
              format: date-time
              description: End of the available data range for the prepared instrument.
              example: "2026-04-14T15:30:05Z"
            coverageRatio:
              type: number
              format: double
              minimum: 0
              maximum: 1
              description: |
                Against a managed exchange: `hoursWithData / totalHours` in `[0,1]` (`1.0` when
                `totalHours` is 0), the fraction of hours in the requested range that have served
                data. Against a dataset (`exchangeId: user`): `rows / expectedStepsAtCadence`
                over the dataset version's own range — echoing what ingest computed once, not
                recomputed against a narrower prepare request.
              example: 0.994
            totalHours:
              type: integer
              description: |
                Number of whole hours in the requested prepare range. Managed exchanges only —
                absent for a dataset-backed prepare.
              example: 168
            hoursWithData:
              type: integer
              description: |
                Number of hours in the range that have data. Managed exchanges only — absent for
                a dataset-backed prepare.
              example: 167
            cadence:
              type: string
              description: |
                The dataset version's own discovered cadence (e.g. `1m`, `1h`). Only present for a
                dataset-backed prepare (`exchangeId: user`).
              example: "1m"
            gaps:
              type: integer
              description: |
                Number of gaps in the dataset version at its own cadence, as discovered at ingest
                time. Only present for a dataset-backed prepare.
              example: 0
            largestGapSteps:
              type: integer
              description: |
                The largest gap in the dataset version, in units of its own cadence step. Only
                present for a dataset-backed prepare.
              example: 0
            hoursWithoutData:
              type: array
              description: |
                One entry per hour in the range that has no data, with a rationale. Managed
                exchanges only — absent for a dataset-backed prepare.
              items:
                type: object
                properties:
                  hour:
                    type: string
                    format: date-time
                    description: The hour (UTC, hour-aligned) that has no data.
                    example: "2026-04-14T02:00:00Z"
                  expected:
                    type: integer
                    description: |
                      Expected row count for the hour (currently always 0; reserved for
                      future use). The rationale never depends on it.
                    example: 0
                  rationale:
                    type: string
                    description: |
                      Why the hour has no data. `pending_conversion`: data for this hour is
                      still being produced — a re-poll may fill it. `low_activity`: the
                      instrument did not trade that hour. `unknown`: no data to classify by.
                    enum:
                      - pending_conversion
                      - low_activity
                      - unknown
                    example: low_activity
    SweepAxis:
      description: A numeric range or an explicit list of values for one strategy property.
      oneOf:
        - type: object
          required: [from, to, step]
          additionalProperties: false
          properties:
            from:
              type: number
              format: double
            to:
              type: number
              format: double
            step:
              type: number
              format: double
              exclusiveMinimum: 0
        - type: object
          required: [values]
          additionalProperties: false
          properties:
            values:
              type: array
              minItems: 1
              items:
                oneOf:
                  - type: number
                  - type: boolean
    SweepSpecRequest:
      type: object
      required: [params]
      properties:
        sampler:
          type: string
          enum: [grid, random, lhs]
          default: grid
        seed:
          type: integer
          format: int64
          minimum: -9007199254740991
          maximum: 9007199254740991
          description: |
            Reproducibility seed. If omitted, the server generates one with Java's
            `L64X128MixRandom` generator and returns the effective value. The range
            is limited to JavaScript-safe integers so generated clients can replay it exactly.
        samples:
          type: integer
          minimum: 1
          description: Number of samples for `random` and `lhs`; ignored by `grid`.
        objective:
          type: string
          enum: [sharpe, sortino, pnl, maxdd]
          default: sharpe
        params:
          type: object
          minProperties: 1
          additionalProperties:
            $ref: '#/components/schemas/SweepAxis'
      example:
        sampler: lhs
        seed: 487221
        samples: 100
        objective: sharpe
        params:
          rsiPeriod:
            from: 7
            to: 28
            step: 1
          useTrendFilter:
            values: [true, false]
    SweepBaseConfig:
      type: object
      properties:
        initialFunding:
          type: number
          format: double
          exclusiveMinimum: 0
          default: 10000
        feeRate:
          type: number
          format: double
          minimum: 0
          default: 0.001
        buyFeeRate:
          type: number
          format: double
          minimum: 0
        sellFeeRate:
          type: number
          format: double
          minimum: 0
        feeLeg:
          type: string
          enum: [RECEIVED, QUOTE, BASE]
          default: RECEIVED
        percentAmountToLock:
          type: number
          format: double
          exclusiveMinimum: 0
          maximum: 100
    ExecuteSweepRequest:
      type: object
      required: [strategyId, sweep]
      properties:
        strategyId:
          $ref: '#/components/schemas/strategyId'
        sweep:
          $ref: '#/components/schemas/SweepSpecRequest'
        baseConfig:
          $ref: '#/components/schemas/SweepBaseConfig'
        storeSignals:
          type: boolean
          default: false
          description: Store signals for every trial. Keep false for normal sweeps.
        shards:
          type: integer
          minimum: 0
          description: Requested horizontal shard count; 0 or omitted selects automatically.
          default: 0
        minTradeFloor:
          type: integer
          minimum: 0
          default: 30
          description: Trials below this trade count are flagged but remain in the results.
        walkForward:
          $ref: '#/components/schemas/WalkForwardRequest'
        equityCurve:
          $ref: '#/components/schemas/EquityCurveRequest'
    EquityCurveOptions:
      type: object
      description: >-
        Requested equity-curve transform, applied
        server-side in a fixed pipeline order: `resample` (point count) then `differential`
        (encoding) then `outMode` (JSON shape) — each stage assumes the previous one already ran.
        A server-side size guard can still force a smaller/deflated shape above its thresholds
        regardless of what is requested here — see `EquityCurveMeta` for what actually happened.
      properties:
        resample:
          type: integer
          minimum: 2
          description: >-
            Downsample to at most this many points (extrema-preserving — the global max/min and
            the exact first/last point are always kept). Omit for no downsampling.
        differential:
          type: boolean
          default: false
          description: Delta-encode both fields from the second (post-resample) point onward.
        outMode:
          allOf:
            - $ref: '#/components/schemas/EquityCurveOutMode'
          default: ARRAY
          description: Requested JSON shape.
    EquityCurveRequest:
      allOf:
        - $ref: '#/components/schemas/EquityCurveOptions'
        - type: object
          properties:
            mode:
              type: string
              enum: [auto, topN, topPct, none]
              default: auto
              description: >-
                Which trials keep their per-point equity curve. `auto` retains curves only
                while the accumulated size stays within server limits; `topN`/`topPct`
                retain curves for the best-ranked trials explicitly; `none` retains no
                curves.
            n:
              type: integer
              minimum: 1
              description: Trial count to retain when mode is topN.
            maxPct:
              type: number
              format: double
              exclusiveMinimum: 0
              maximum: 100
              description: Top percentage of trials to retain when mode is topPct.
      description: >-
        Selection (`mode`/`n`/`maxPct`) plus the transform preference
        (`resample`/`differential`/`outMode`) applied by
        `GET .../equityCurve` whenever ITS OWN query params are absent, for a curve this sweep
        retained. The transform half never affects retention or `sweepId` — a caller can always
        override it per-request at read time regardless of what was submitted here.
    WalkForwardRequest:
      type: object
      description: >-
        Opt in to walk-forward validation. Present, the sweep runs as F sequential folds and the
        result gains a `walkForward` section; absent, nothing about the sweep changes. Two requests
        that differ only in this block are two different sweeps and do not deduplicate against each
        other.
      required: [folds]
      properties:
        folds:
          type: integer
          minimum: 2
          description: >-
            How many sequential optimize-then-score windows to run. Two is the minimum for a
            reason, and it is structural rather than a tuning choice: parameter drift is measured
            between consecutive fold winners, and a single fold — one train/test split with no
            sequence — has no consecutive pair to compare, so it would report the strongest
            possible stability having measured nothing.

            The upper bound is a server setting (12 by default) and is deliberately not pinned
            here, since a spec that hardcodes a tunable limit lies the day it is raised. Exceeding
            it, or exceeding the sweep budget once multiplied by the grid size, is a 400.
        inSamplePct:
          type: integer
          minimum: 10
          maximum: 90
          default: 66
          description: >-
            Share of the session each fold spends optimizing; the remainder is where its winner is
            scored. Lower values leave more data to be scored on and, on short sessions, are also
            what lets the requested fold count tile the data at all.
    ExecuteSweepAccepted:
      type: object
      required: [sweepId, requestId, totalRuns, shards, seed, queued]
      properties:
        sweepId:
          type: string
          example: swp_95e47a7f0966ce11
        requestId:
          type: string
        totalRuns:
          type: integer
          minimum: 1
        shards:
          type: integer
          minimum: 1
        seed:
          type: integer
          format: int64
          minimum: -9007199254740991
          maximum: 9007199254740991
          description: Effective seed used to expand the sweep.
        queued:
          type: boolean
          description: False when an identical sweep already exists and was not enqueued again.
        walkForward:
          $ref: '#/components/schemas/WalkForwardAccepted'
    WalkForwardAccepted:
      type: object
      description: >-
        Echo of the accepted walk-forward configuration, present only when the submit carried one.
        `inSamplePct` is the resolved value, so a request that omitted it can see what it got.
      required: [folds, inSamplePct, totalRuns]
      properties:
        folds:
          type: integer
        inSamplePct:
          type: integer
        totalRuns:
          type: integer
          description: >-
            What this sweep actually costs, `folds × (grid size + 1)` — the in-sample runs for every
            fold plus each fold's one out-of-sample run. Deliberately distinct from the top-level
[...]
